<% include ../header.html %> 

<div class="container psidimas" role="main">

  <div class="page-header">
    <h1>PerSemID View University MSc</h1>
  </div>
  <p>This is the view for the university MSc. It offers functionality for opening and inspecting the dossier prepared by the student
     for the application to masterstudies. Based on the dossier (and possibly information from other sources), the university MSc will
     decide to either accept or deny the student for the enrollment. This decision is then recorded and the student granted permissions to retrieve it.
  <p>A zipped export of the <a href="#/decision">decision</a> is accessible at <a href="/hmsc/export">/hmsc/export/</a> for <a href="#/permissions">authorized users</a>.</p>

  <div class="col-xs-12" style="height:20px;"></div>

  <!-- main navigation -->

  <div>
    <ul id="ul-nav-main" class="nav nav-pills">
      <li id="li-nav-main-dossier" role="presentation" class="active"><a id="a-nav-main-dossier" href="#/dossier">Dossier of Application&nbsp;<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-decision" role="presentation"><a id="a-nav-main-decision" href="#/decision">Decision&nbsp;<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-permissions" role="presentation"><a id="a-nav-main-permissions" href="#/permissions">Permissions&nbsp;<span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></li>
    </ul>
  </div>

  <div class="col-xs-12" style="height:20px;"></div>

  <div id="div-views">

    <!-- view for uploading the dossier from the student -->

    <div id="div-view-hmsc-dossier"  class="col-md-9">

      <div id="div-dossier-form" class="col-md-6">
        <form id="form-dossier-upload" action="/import/hmsc" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label for="in-dossier-file">Import application dossier</label>
            <input id="in-dossier-file" required type="file" name="upload">
          </div>
          <button id="btn-hmsc-dossier-save" type="submit" class="btn btn-default">Import&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></button>
          <button id="btn-hmsc-dossier-cancel" type="reset" class="btn btn-default">Cancel&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
      </div>

      <div id="div-dossier-show" class="col-md-9">

        <div id="div-view-dossier-hmsc">
          <h3>Personal Data Student</h3>

          <div id="ld2h-dossier-studentdata-hmsc" class="render" resource="http://example.org/Student#" context="m:Dossierview_studentdata"></div>

          <h3>Data University BSc</h3>

          <div id="ld2h-dossier-bscdata-hmsc" class="render" resource="http://example.org/HBSC#" context="m:Dossierview_bscdata"></div>

          <h3>Documents</h3>

          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>File</th>
              </tr>
            </thead>
            <tbody id="ld2h-dossier-files-hmsc" class="render" resource="http://example.org/HMSC#" context="m:Dossierview_files"></tbody>
          </table>
        </div>

        <div id="div-dossier-show-operations">
          <form id="form-dossier-delete">
            <button id="btn-hmsc-dossier-delete" type="button" class="btn btn-default" onclick="if(confirm('Do you really want to delete the dossier?')) { window.deleteDossier(); }">Delete dossier&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"/></span></button>
            &nbsp;<a id="a-hmsc-dossier-refresh" href="#/dossier"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
          </form>
        </div>

      </div>

    </div>

    <!-- view for creating the immatriculation-decision -->

    <div id="div-view-hmsc-decision"  class="col-md-3" style="display:none;">
      <form id="form-dossier-decision">
        <div id="ld2h-decision" class="render" resource="http://example.org/HMSC#" context="m:Decision"></div>
        <button id="btn-hmsc-dossier-decision" type="button" class="btn btn-default">Save decision&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></button>
      </form>
    </div>

    <!-- view for editing permissions -->

    <div id="div-view-hmsc-permissions"  class="col-md-9" style="display:none;">
      <div id="div-hmsc-permissions-form" class="col-md-9">

        <div id="ld2h-hmsc-permissions" class="render" resource="http://example.org/HMSC#" context="m:Permissionview"></div>

        <form id="form-hmsc-permissions">
          <div class="form-group">
            <label for="in-hmsc-webid">Student's WebID</label>
            <input type="text" class="form-control" id="in-hmsc-webid" placeholder="Student's WebID">
          </div>
          <button id="btn-hmsc-permissions-save" type="button" class="btn btn-default">Save&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></button>
          <button id="btn-hmsc-permissions-delete" type="button" class="btn btn-default" onclick="if(confirm('Do you really want to revoke the permission?')) { window.deletePermissionsFromStore(); }">Revoke Permission&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"/></span></button>
          <button id="btn-hmsc-permissions-cancel" type="reset" class="btn btn-default">Cancel&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
      </div>
    </div>

  </div>

</div>

<script src="js/rdf2h.js"></script>
<script src="js/ld2h.js"></script>
<script src="js/hmsc.js"></script>

<% include ../footer.html %> 
