<% include ../header.html %> 

  <div class="container psidimas" role="main">

    <div class="page-header">
      <img src="images/persemid.png" width="225" alt="PerSemID Logo"/>
      <h1>PoC Usecase Enrollment Masterstudies</h1>
    </div>

    <p>Welcome to the proof-of-concept-implementation for the <a href="http://persemid.bfh.ch/documents/Anwendungsfall-Immatrikulation_Masterstudiengang.pdf">usecase enrollment masterstudies</a> of the <a href="http://persemid.bfh.ch/">PerSemID-project</a>!</p>
    <p>Please choose a role in the menu!</p>

  </div>

  <script>
    $(function () {
       $("#nav-home").addClass("active");
    });
  </script>

<% include ../footer.html %> 
