<div id="student"  class="col-md-6">
  <form id="form-studentdata-edit">
    <div class="form-group">
      <label for="in-name">Name</label>
      <input type="text" class="form-control" id="in-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="in-vorname">Vorname</label>
      <input type="text" class="form-control" id="in-vorname" placeholder="Vorname">
    </div>
    <div class="form-group">
      <label for="in-geburtsdatum">Geburtsdatum</label>
      <input type="text" class="form-control" id="in-geburtsdatum" placeholder="Geburtsdatum">
    </div>
    <div class="form-group">
      <label for="in-zivilstand">Zivilstand</label>
      <input type="text" class="form-control" id="in-zivilstand" placeholder="Zivilstand">
    </div>
    <div class="form-group">
      <label for="in-email">E-Mail</label>
      <input type="email" class="form-control" id="in-email" placeholder="E-Mail">
    </div>
    <div class="form-group">
      <label for="in-webid">WebID</label>
      <input type="text" class="form-control" id="in-webid" placeholder="WebID">
    </div>
    <div class="form-group">
      <label for="in-matrikelnummer">Matrikelnummer</label>
      <input type="text" class="form-control" id="in-matrikelnummer" placeholder="Matrikelnummer">
    </div>
    <div class="form-group">
      <label for="in-sozialversicherungsnummer">Sozialversicherungsnummer</label>
      <input type="text" class="form-control" id="in-sozialversicherungsnummer" placeholder="Sozialversicherungsnummer">
    </div>
    <div class="form-group">
      <label for="in-strasse">Strasse</label>
      <input type="text" class="form-control" id="in-strasse" placeholder="Strasse">
    </div>
    <div class="form-group">
      <label for="in-plz">Postleitzahl</label>
      <input type="text" class="form-control" id="in-plz" placeholder="Postleitzahl">
    </div>
    <div class="form-group">
      <label for="in-ort">Ort</label>
      <input type="text" class="form-control" id="in-ort" placeholder="Ort">
    </div>
    <div class="form-group">
      <label for="in-nationalitaet">Nationalität</label>
      <input type="text" class="form-control" id="in-nationalitaet" placeholder="Nationalität">
    </div>
    <div class="form-group">
      <label for="in-heimatort">Heimatort</label>
      <input type="text" class="form-control" id="in-heimatort" placeholder="Heimatort">
    </div>
    <div class="form-group">
      <label for="in-wohnortstudba">Wohnort BA</label>
      <input type="text" class="form-control" id="in-wohnortstudba" placeholder="Wohnort BA">
    </div>
    <div class="form-group">
      <label for="in-wohnort2jahre">Wohnort 2 Jahre</label>
      <input type="text" class="form-control" id="in-wohnort2jahre" placeholder="Wohnort 2 Jahre">
    </div>
    <button id="btn-studentdata-save" type="button" class="btn btn-default">Speichern&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
    <button id="btn-studentdata-cancel" type="button" class="btn btn-default">Abbrechen&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
  </form>
</div>
