<% include ../header.html %> 

<div class="container psidimas" role="main">

  <div class="page-header">
    <h1>PerSemID View Student</h1>
  </div>
  <p>This is the view of the student. Here, personal data can be viewed and modified. This data can be enriched with 
     documents, files and data obtained from <a href="/hbsc">University BSc</a>'s system. 
     A personal application dossier can then be created containing all or parts of the above and permissions for accessing
     this dossier can be managed.</p>
  <p>A zipped export of the <a href="#/dossier">dossier</a> is accessible at <a href="/student/export">/student/export/</a> for <a href="#/permissions">authorized users</a>.</p>

  <div class="col-xs-12" style="height:20px;"></div>

  <!-- main navigation -->

  <div>
    <ul id="ul-nav-main" class="nav nav-pills">
      <li id="li-nav-main-studentdata" role="presentation" class="active"><a href="#/studentdata/view">Personal Data&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-files" role="presentation"><a href="#/files/view">Documents&nbsp;<span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-bscdata" role="presentation"><a href="#/bscdata">Data BSc&nbsp;<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-dossier" role="presentation"><a href="#/dossier">Dossier of Application&nbsp;<span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-permissions" role="presentation"><a href="#/permissions">Permissions&nbsp;<span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-decision" role="presentation"><a href="#/decision">Enrollment Decision&nbsp;<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span></a></li>
    </ul>
  </div>

  <div class="col-xs-12" style="height:20px;"></div>

  <div id="div-views">

    <!-- view for editing student's personal data -->

    <div id="div-view-studentdata"  class="col-md-9">

      <ul id="ul-nav-data" class="nav nav-tabs">
        <li id="li-nav-data-view" role="presentation" class="active"><a href="#/studentdata/view">View&nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></li>
        <li id="li-nav-data-edit" role="presentation"><a href="#/studentdata/edit">Edit&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
      </ul>

      <div id="div-studentdata-view">
        <h3>My Data</h3>
        <div id="ld2h-view-studentdata" class="render" resource="http://example.org/Student#" context="s:Dataview"></div>
        <div id="ld2h-view-studentbscdata" class="render" resource="http://example.org/HBSC#" context="s:Dataview"></div>
        <div><a id="a-data-view-refresh" href="#/studentdata/view"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></div>
      </div>

      <div id="div-studentdata-edit" style="display:none;">
        <% include editform.html %>
      </div>

    </div>

    <!-- view for uploading and managing files -->

    <div id="div-view-files" class="col-md-9" style="display:none;">

      <ul id="ul-nav-files" class="nav nav-tabs">
        <li id="li-nav-files-view" role="presentation" class="active"><a href="#/files/view">Manage&nbsp;<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a></li>
        <li id="li-nav-files-upload" role="presentation"><a href="#/files/upload">Upload&nbsp;<span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a></li>
      </ul>

      <div id="div-file-table">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>File</th>
              <th>Size</th>
              <th>Type</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody id="ld2h-view-files" class="render" resource="http://example.org/Student#" context="s:Fileview"></tbody>
        </table>
        <div><a id="a-files-view-refresh" href="#/files/view"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></div>
      </div>

      <div id="div-file-form" class="col-md-6" style="display:none;">
        <form id="form-file-upload" action="/files/upload/student" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label for="in-upload-file">Upload file</label>
            <input id="in-upload-file" required type="file" name="upload">
          </div>
          <button id="btn-upload-save" type="submit" class="btn btn-default">Save&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
          <button id="btn-upload-cancel" type="reset" class="btn btn-default">Cancel&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
      </div>

    </div>

    <!-- view for uploading data from hbsc -->

    <div id="div-view-bscdata"  class="col-md-9" style="display:none;">
      <div id="div-bscdata-form" class="col-md-9">
        <form id="form-bscdata-upload" action="/import/student" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label for="in-bscdata-file">Import data from university BSc</label>
            <input id="in-bscdata-file" required type="file" name="upload">
          </div>
          <button id="btn-bscdata-save" type="submit" class="btn btn-default">Import&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></button>
          <button id="btn-bscdata-delete" type="button" class="btn btn-default" onclick="if(confirm('Do you really want to delete data of the university BSc?')) { window.deleteDataHBSC(); }">Delete existing&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"/></span></button>
          <button id="btn-bscdata-cancel" type="reset" class="btn btn-default">Cancel&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
      </div>
    </div>

    <!-- view for creating the "Bewerbungsdossier" -->

    <div id="div-view-dossier"  class="col-md-9" style="display:none;">
      <form id="form-dossier">
        <h3>My Data</h3>

        <div id="ld2h-dossier-studentdata" class="render" resource="http://example.org/Student#" context="s:Dossierview_studentdata"></div>

        <h3>Data University BSc</h3>

        <div id="ld2h-dossier-bscdata" class="render" resource="http://example.org/HBSC#" context="s:Dossierview_bscdata"></div>

        <h3>Documents</h3>

        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>File</th>
              <th>Include in Dossier</th>
            </tr>
          </thead>
          <tbody id="ld2h-dossier-files" class="render" resource="http://example.org/Student#" context="s:Dossierview_files"></tbody>
        </table>

        <div><button id="btn-dossier-save" type="button" class="btn btn-default">Save&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        &nbsp;<a id="a-data-dossier-refresh" href="#/dossier"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></div>
      </form>

    </div>

    <!-- view for editing permissions -->

    <div id="div-view-student-permissions"  class="col-md-9" style="display:none;">
      <div id="div-student-permissions-form" class="col-md-9">

        <div id="ld2h-student-permissions" class="render" resource="http://example.org/Student#" context="s:Permissionview"></div>

        <form id="form-student-permissions">
          <div class="form-group">
            <label for="in-student-webid">University MSc's WebID</label>
            <input type="text" class="form-control" id="in-student-webid" placeholder="University MSc's WebID">
          </div>
          <button id="btn-student-permissions-save" type="button" class="btn btn-default">Save&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></button>
          <button id="btn-student-permissions-delete" type="button" class="btn btn-default" onclick="if(confirm('Do you really want to revoke the permission?')) { window.deletePermissionsFromStore(); }">Revoke Permission&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"/></span></button>
          <button id="btn-student-permissions-cancel" type="reset" class="btn btn-default">Cancel&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
      </div>
    </div>

    <!-- view for uploading the decision from hmsc -->

    <div id="div-view-hmsc-decision"  class="col-md-9" style="display:none;">
      <div id="ld2h-student-decision" class="render" resource="http://example.org/HMSC#" context="s:Decisionview"></div>
    </div>

  </div>

</div>

<script src="js/rdf2h.js"></script>
<script src="js/ld2h.js"></script>
<script src="js/student.js"></script>

<% include ../footer.html %> 
