<% include ../header.html %> 

<div class="container psidimas" role="main">

  <div class="page-header">
    <h1>PerSemID Ansicht Hochschule BSc</h1>
  </div>
  <p>Dies ist die Ansicht für die Hochschule BSc. Sie kann hier die Daten zum BSc-Studenten sowie zugehörige Dokumente in Dateiform verwalten.
     Über die Berechtigungsverwaltung kann sie Berechtigungsobjekte anlegen und mit diesen den Zugriff auf die Daten steuern.</p>
  <p>Ein Export der <a href="#/bscdata/view">Studentendaten</a> (mit Angaben der Hochschule) kann für <a href="#/permissions">Berechtigte</a> unter <a href="/hbsc/export">/hbsc/export/</a> heruntergeladen werden.</p>

  <div class="col-xs-12" style="height:20px;"></div>

  <!-- main navigation -->

  <div>
    <ul id="ul-nav-main" class="nav nav-pills">
      <li id="li-nav-main-bscdata" role="presentation" class="active"><a id="a-nav-main-bscdata" href="#/bscdata/view">Studentendaten&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-files" role="presentation"><a id="a-nav-main-files" href="#/files/view">Dokumente&nbsp;<span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></li>
      <li id="li-nav-main-permissions" role="presentation"><a id="a-nav-main-permissions" href="#/permissions">Berechtigungsobjekte&nbsp;<span class="glyphicon glyphicon-check" aria-hidden="true"></span></a></li>
    </ul>
  </div>

  <div class="col-xs-12" style="height:20px;"></div>

  <div id="div-views">

    <!-- view for editing student's BSc data -->

    <div id="div-view-bscdata"  class="col-md-9">

      <ul id="ul-nav-data" class="nav nav-tabs">
        <li id="li-nav-data-view" role="presentation" class="active"><a href="#/bscdata/view">Ansicht&nbsp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></li>
        <li id="li-nav-data-edit" role="presentation"><a href="#/bscdata/edit">Bearbeiten&nbsp;<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></li>
      </ul>

      <div id="div-bscdata-view">
        <div id="ld2h-view-bscdata" class="render" resource="http://example.org/HBSC#" context="b:Dataview"></div>
        <div><a id="a-data-view-refresh" href="#/bscdata/view"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></div>
      </div>

      <div id="div-bscdata-edit" style="display:none;">
        <div id="bsc" class="col-md-6">
          <form id="form-bscdata-edit">
            <div class="form-group">
              <label for="in-datebsc">Datum BSc-Abschluss</label>
              <input type="text" class="form-control" id="in-datebsc" placeholder="Datum BSc-Abschluss">
            </div>
            <div class="form-group">
              <label for="in-studiengang">Studiengang BSc</label>
              <input type="text" class="form-control" id="in-studiengang" placeholder="Studiengang BSc">
            </div>
            <div class="form-group">
              <label for="in-umfang">Umfang (ECTS)</label>
              <input type="text" class="form-control" id="in-umfang" placeholder="Umfang (ECTS)">
            </div>
            <button id="btn-bscdata-save" type="button" class="btn btn-default">Speichern&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
            <button id="btn-bscdata-cancel" type="button" class="btn btn-default">Abbrechen&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          </form>
        </div>
      </div>

    </div>

    <!-- view for uploading and managing files -->

    <div id="div-view-files" class="col-md-9" style="display:none;">

      <ul id="ul-nav-data" class="nav nav-tabs">
        <li id="li-nav-files-view" role="presentation" class="active"><a href="#/files/view">Verwalten&nbsp;<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a></li>
        <li id="li-nav-files-upload" role="presentation"><a href="#/files/upload">Upload&nbsp;<span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a></li>
      </ul>

      <div id="div-file-table">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>Datei</th>
              <th>Grösse</th>
              <th>Typ</th>
              <th>Löschen</th>
            </tr>
          </thead>
          <tbody id="ld2h-view-files" class="render" resource="http://example.org/HBSC#" context="b:Fileview"></tbody>
        </table>
        <div><a id="a-files-view-refresh" href="#/files/view"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></div>
      </div>

      <div id="div-file-form" class="col-md-6" style="display:none;">
        <form id="form-file-upload" action="/files/upload/hbsc" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label for="in-upload-file">Datei hochladen</label>
            <input id="in-upload-file" required type="file" name="upload">
          </div>
          <button id="btn-upload-save" type="submit" class="btn btn-default">Speichern&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
          <button id="btn-upload-cancel" type="reset" class="btn btn-default">Abbrechen&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
      </div>

    </div>

    <!-- view for editing permissions -->

    <div id="div-view-hbsc-permissions"  class="col-md-9" style="display:none;">
      <div id="div-hbsc-permissions-form" class="col-md-9">

        <div id="ld2h-hbsc-permissions" class="render" resource="http://example.org/HBSC#" context="b:Permissionview"></div>

        <form id="form-hbsc-permissions">
          <div class="form-group">
            <label for="in-hbsc-webid">WebID des Studenten</label>
            <input type="text" class="form-control" id="in-hbsc-webid" placeholder="WebID des Studenten">
          </div>
          <button id="btn-hbsc-permissions-save" type="button" class="btn btn-default">Speichern&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"/></span></button>
          <button id="btn-hbsc-permissions-delete" type="button" class="btn btn-default" onclick="if(confirm('Berechtigung wirklich löschen?')) { window.deletePermissionsFromStore(); }">Berechtigung löschen&nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"/></span></button>
          <button id="btn-hbsc-permissions-cancel" type="reset" class="btn btn-default">Abbrechen&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </form>
      </div>
    </div>

  </div>

</div>

<script src="js/rdf2h.js"></script>
<script src="js/ld2h.js"></script>
<script src="js/hbsc.js"></script>

<% include ../footer.html %> 
